{% extends 'layouts/main.html' %}
{% load static %}
{% block body %}
<section class="product_section layout_padding">
    <div class="container">
       <div class="heading_container heading_center">
          <h2>
             Our <span>products</span>
          </h2>
       </div>
       <div class="row">
        {% for item in product %}
          <div class="col-sm-6 col-md-4 col-lg-4">
             <div class="box">
                <div class="option_container">
                   <div class="options">
                      <a href="" class="option1">
                      Men's Shirt
                      </a>
                      <a href="" class="option2">
                      view
                      </a>
                   </div>
                </div>
                <div class="img-box">
                   <img src="{item.product_image.url}" alt="">
                </div>
                <div class="detail-box">
                   <h5>
                      Men's Shirt
                   </h5>
                   {{item.name}}
                   <h6>
                      $75
                   </h6>
                </div>
             </div>
          </div>

        {% endfor %}
        </div>
        <div class="btn-box">
            <a href="">
            view all products
            </a>
        </div>
    </div>
</section>

{% endblock body %}